@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #FF5400;
}

* {
    font-family: "Mulish", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-btn {
    width: 174px;
    /* Set the width of input and select elements */
    height: 52px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.nav-title {
    min-height: 40px;
    display: flex;
    align-items: center;
    width: 50%;
    /* border: 2px solid red; */
}

.nav-title img {
    width: 45px;
    object-fit: cover;
}

.nav-title h2 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.nav-title .special {
    color: var(--primary-color);
    font-size: 36px;
    font-weight: 800;
}

.nav-element {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-element a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

/* Hover effect */
.nav-element:hover {

    color: #424247;
}

.nav-element a:hover {
    color: var(--primary-color)
}

.banner {
    max-width: 1200px;
    margin: 20px auto 0;
    background:
        linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
        /* Your specified linear gradient */
        url('../Images/banner.png');
    border-radius: 16px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-title {
    text-align: center;
    padding-top: 80px;
}

.banner-title h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-description {
    margin: -20px auto 0;
    text-align: center;
    /* max-width: 600px; */
    max-width: 650px;
    text-overflow: ellipsis;
    /* border: 1px solid red; */
}

.banner-description p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 24px;

}

/* .search-form{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 24px;
} */

/* Form container styling */
.search-form {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    background-color: rgba(189, 189, 189, 0.473);
    padding: 16px;
    border-radius: 8px;
    gap: 24px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.30);
}



.search-form input,
.search-form select {
    width: 174px;
    height: 52px;
    /* margin-right: 10px; */
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
}


/* Styling for the button */
.search-form button {
    width: 174px;
    /* Set the width of input and select elements */
    height: 52px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #e64a19;
}

.search-form input::placeholder {
    color: rgba(19, 19, 24, 0.50);
    /* text-align: center; */
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.search-form select {
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container {
    margin: 70px auto;
    max-width: 1200px;
}

.description {
    /* margin: 70px auto; */
    display: flex;
    /* max-width: 1200px; */
    justify-content: space-between;
    gap: 50px;
    /* border: 1px solid red; */
}

.description-content {
    max-width: 50%;
    width: 600px;
    /* border: 1px solid red; */
}

.description-content h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.description-content p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
    /* 162.5% */
}

.description-content li {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.description-image {
    max-width: 50%;
}

.description-image img {
    width: 540px;
    height: 550px;
}


/* Choose Your Destination styles starts here */
.destination-title {
    text-align: center;
}

.destination-title h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.destination-description {
    text-align: center;

}

.destination-description p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-overflow: ellipsis;
}

.destination-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 25px;
    /* border: 2px solid red; */

}


.maldives {
    grid-column: 1 / span 6;
    grid-row: 1 / span 2;
    background: url('../Images/maldives.png');
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/maldives.png') lightgray 50% / cover no-repeat;

}

.maldives p {
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    margin: 132px 226px;
}


.indonesia {
    grid-column: 7 / span 6;
    grid-row: 1 / span 2;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/indonesia.png') lightgray 50% / cover no-repeat;
}


.indonesia p {
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    margin: 132px 226px;
}

.srilanka {
    grid-column: 1 / span 4;
    grid-row: 3 / span 2;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/srilanka.png') lightgray 50% / cover no-repeat;

}

.srilanka p {
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    margin: 130px 130px;
}

.northAmerica {
    grid-column: 5 / span 5;
    grid-row: 3 / span 2;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/NorthAmerica.png') lightgray 50% / cover no-repeat;
}

.northAmerica p {
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    margin: 130px 137px;
}

.kashmir {
    grid-column: 10 / span 3;
    grid-row: 3 / span 2;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/kashmir.png') lightgray 50% / cover no-repeat;
}

.kashmir p {
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    margin: 130px 81px;
}


.bangladesh {
    grid-column: 1 / span 5;
    grid-row: 5 / span 2;
    /* background: url('../Images/bangladesh.png');
    object-fit: contain;
    width: 473px;
    height: 300px; */
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/bangladesh.png') lightgray 50% / cover no-repeat;
}

.bangladesh p {
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    margin: 130px 156px;
}


.bandarban {
    grid-column: 6 / span 7;
    grid-row: 5 / span 2;
    background-image: url('../Images/bandarban.png');
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/bandarban.png') lightgray 50% / cover no-repeat;

}

.bandarban p {
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    margin: 130px 260px;
}


/* Choose Your Destination styles ends here */


.service-container {
    margin-top: 100px;
    /* border: 2px solid red; */
}

.service-content {
    /* */
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-content h2 {
    color: #131318;

    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.service-content p {
    margin-top: -20px;
    color: rgba(19, 19, 24, 0.70);
    width: 650px;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-top: -10px;
}

.service-grid {
    margin-top: 10px;
    /* border: 1px solid rgb(205, 25, 8); */
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}

.grid-item-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 520px;
    height: 250px;
    padding: 32px 70px 0 20px;
    grid-column: 0 /span 5;
    grid-row: 1 /span 1;

}

.grid-item-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 520px;
    height: 250px;
    padding: 32px 20px 0 20px;
    grid-column: 2 /span 1;
    grid-row: 1 /span 1;
}

.grid-item-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 520px;
    height: 250px;
    padding: 32px 20px 0 20px;
    grid-column: 1 /span 2;
    grid-row: 2 /span 1;
}

.deals-content-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.deals-content-summary h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: -10px;
}

.deals-content-summary p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 630px;
    margin-top: 0;
    margin-bottom: 40px;
}

.deals1 {
    border-radius: 16px;
    background: url('../Images/deals1.png') lightgray 50% / cover no-repeat;
    width: 1170px;
    height: 580px;
    position: relative;
    margin-bottom: 24px;
}



.deals-content {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 579px;
    height: 350px;
    position: absolute;
    top: 85px;
    bottom: 55px;
    right: 55px;
    padding: 40px 50px 30px;
}

.deals-content-review {
    display: flex;
    gap: 24px;

}

.deals-content-details h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deals-content-details p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 500px;
    margin-bottom: 16px 0 25px;
}

#default-color {
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.deals2 {
    margin-bottom: 24px;
    border-radius: 16px;
    background: url('../Images/deals2.png') lightgray 50% / cover no-repeat;
    width: 1170px;
    height: 580px;
    position: relative;
}

.deals2-content {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 579px;
    height: 350px;
    position: absolute;
    top: 85px;
    bottom: 55px;
    left: 55px;
    padding: 40px 50px 30px;
}

.deals3 {
    margin-bottom: 24px;
    border-radius: 16px;
    background: url('../Images/deals1.png') lightgray 50% / cover no-repeat;
    width: 1170px;
    height: 580px;
    position: relative;
}

.see-all-packages {
    display: flex;
    /* Use flexbox for alignment */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically if needed */
    margin-top: 35px;
    /* Optional: Add space above the button */
    width: 100%;
    /* Make the div take full width */
}